<meta charset="utf-8">
<meta http-equiv="Content-Security-Policy" content="object-src 'none'; style-src 'self' https://fonts.googleapis.com; script-src 'unsafe-inline' https://www.google-analytics.com/analytics.js 'sha256-vYiXpbhtUuE2dv3ZO5lT/GT4lhbkQaBa/Ogxl3SBtV0='">
<meta property="twitter:account_id" content="4503599627436107">

<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='/stylesheets/style.css' rel='stylesheet' type='text/css'>

<meta content='width=device-width, initial-scale=1.0, user-scalable=no' name='viewport'>

{% feed_meta %}
